<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <link th:src="@{/resources/static/js/script.js}">
    <title>Alterar Dados | GoService</title>
</head>
<body>

<div id="content">
    <div th:replace="fragments/header :: header"></div>

    <main class="container mt-4">
        <h2>Alterar Dados Cadastrais</h2>

        <div class="card w-100 mt-5">
            <div class="card-body">

                <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
                <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>

                <form method="post" th:action="@{/auth/alterar-dados}">

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome:<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                        <div class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <div class="form-text"></div>
                    </div>

                    <button type="submit" class="btn btn-primary"data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-title="Confirmar alteração de senha">Alterar <i class="bi bi-pencil-fill ms-2"></i></button>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>